
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jachu's craislist</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body style="background-color:#bdbdbd">
<nav class="black">
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Jachu's craislist</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center">What do you want to search for on Jachu's search List?</h1>

    <div class="row">

        <div class="col s4">
            <div class="center">
                <i class="large material-icons">event</i>
                <p>Fast craigslist web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI.</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: orange">attach_money</i>
                <p>Filter your searches</p>
                <p class="light center">Built in functionality to filter based on pricing.</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: blue">contact_mail</i>
                <p>A a nice wrapper to Craigslist</p>
                <p class="light center">Built with ❤️</p>
            </div>
        </div>
    </div>


    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="search" placeholder="search">
        <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

{% block content %}

{% endblock content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</div>
</body>
</html>